{% extends 'base.html.twig' %}

{% block title %}Test Mercure Symfony and react{% endblock %}

{% block body %}
    <h1>Création d'un api dans Symfony</h1>

    <ul>
        {% for message in messages %}
            <li id="{{ message.id }}"><strong>{{ message.username }}</strong> : {{ message.message }}</li>
        {% endfor %}
    </ul>


    <form id="message-form" action="#" method="post">
        <div>
            <label for="username">Pseudo :</label>
            <input type="text" id="username" name="username" value="Anonymous" required>
        </div>
        <div>
            <label for="message">Message :</label>
            <textarea id="message" name="message" required></textarea>
        </div>

        <input type="submit" value="Envoyer">
    </form>

{% endblock %}

{% block javascripts %}
    <script>
        // The subscriber subscribes to updates for the https://example.com/users/dunglas topic
        // and to any topic matching https://example.com/books/{id}
        const url = new URL('{{ mercure_url }}');
        url.searchParams.append('topic', 'http://192.168.1.212:8080/api/messages/{id}');

        const eventSource = new EventSource(url);

        // The callback will be called every time an update is published
        eventSource.onmessage = e => {
            let message = JSON.parse(e.data);

            if (message.id && message.message && message.username) {
                let line = '<li id="' + message.id + '"><strong>' + message.username + '</strong> : ' + message.message + '</li>';

                $('ul').append(line);
            }

            if (message['@id']) {
                let id = '#' + message['@id'].split('/').slice(-1)[0];

                $(id).remove();
            }
        };

        $('#message-form').submit(function(e) {
            e.preventDefault();
            let message = $('#message').val();
            let username = $('#username').val();

            $.ajax({
                url:"{{ path('api_messages_post_collection') }}",
                type:"POST",
                data:'{"message":"' + message + '", "username": "' + username + '"}',
                contentType:"application/json",
                dataType:"json",
                success: function(data){
                    console.log(data);
                }
            });
        });
    </script>
{% endblock %}
